Flask==1.1.1
beautifulsoup4==4.8.0
cachetools==3.1.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
ChatterBot==1.0.4
chatterbot-corpus==1.2.0
click==7.1.2
cymem==2.0.3
fake-useragent==0.1.11
future==0.17.1
google==2.0.2
google-auth==1.6.3
google-auth-httplib2==0.0.3
Google-Search-API==1.1.14
google-trans-new==1.1.9
googletrans==3.0.0
gsearch==1.6.0
gunicorn==19.10.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.8.12
httpcore==0.9.1
httplib2==0.18.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.8
inflect==4.1.0
itsdangerous==1.1.0
jaraco.itertools==5.0.0
Jinja2==2.11.2
joblib==0.16.0
MarkupSafe==1.1.1
mathparse==0.1.2
more-itertools==8.4.0
multidict==4.7.6
murmurhash==1.0.2
nltk==3.5
numpy==1.16.4
packaging==20.4
Pint==0.14
preshed==2.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
pycryptodome==3.9.8
pymongo==3.8.0
pyparsing==2.4.7
python-dateutil==2.7.5
pytz==2020.1
PyYAML==3.13
regex==2020.7.14
requests==2.22.0
rfc3986==1.4.0
rsa==4.6
selenium==2.53.6
SimpleWebSocketServer==0.1.1
six==1.12.0
sniffio==1.1.0
soupsieve==1.9.2
SQLAlchemy==1.2.19
thrift==0.11.0
tqdm==4.32.2
Unidecode==1.1.1
uritemplate==3.0.0
urllib3==1.25.3
vcrpy==4.1.0
waitress==1.4.4
wasabi==0.2.2
Werkzeug==0.15.5
wolframalpha==4.0.0
wrapt==1.12.1
xmltodict==0.12.0
yarl==1.5.1
